.slide-container {
  overflow-x: hidden; /* This will clip the slide images horizontally */
  position: relative;
  width: 100%;
}

.slide {
  height: 90vh;

  position: relative;
  /* overflow: hidden; /* This will clip the images within each slide horizontally */
}

.image-container {
  width: auto;
  height: 90vh;
  object-fit: cover;
  transform: scale(1.1);
}

/* Caption CSS */

.container-1 {
  width: 100%;
  position: absolute;
  top: 30%;
  z-index: 2;
}

.container-2 {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}

.container-3 {
  display: flex;
  justify-content: center;
  padding-top: 0rem;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  margin-left: 5rem;
  width: 19rem;

  background-color: transparent;
}

.caption {
  color: white;
  font-size: 2.5rem;
  font-family: "Graphik", Helvetica, sans-serif, Lucida Sans Unicode;
}
