.cont-1 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.box-container {
  margin: 1rem 3rem;
  padding: 1rem;
  display : flex;
}

.mar-l-3 {
  margin-left: 3rem;
  margin-right : 5rem;
}

.box1 {
  width: 45%;
}

.head {
  width: 80%;
}

.font {
  font-family: "Graphik", Helvetica, sans-serif, Lucida Sans Unicode;
}

.head > h3 {
  font-size: 2.3rem;
  font-weight: 600;
}
.head > p {
  font-size: 1.3rem;
  font-weight: 300;
  color: #424242;
}
.ques > p {
  font-size: 1.1rem;
  font-weight: 600;
  color: black;
}
.buttons {
}
.buttons > button {
  margin: 0.35rem 0.45rem;
  font-size: 1rem;
  font-weight: 500;
  color: #c00;
  line-height: 1.2;
  padding: 0.625rem 1.25rem;
  border-radius: 50vh;
  border: none;
  border: 2px solid #f5f5f5;
  background: #fff;
  transition: all 200ms;
}
.buttons > button:hover {
  background-color: #c00;
  color: white;
}

.box2 {
  width: 45%;
}

.float-r {
  float: right;
}

.box2 > img {
  width: 100%;
  object-fit: contain;
  margin: 0.8rem;
  float: left;
}

.img-2 > img,
.head {
  margin-top: 4rem;
}

.big-buttons {
  width: 100%;
  display: flex;
}

.big-buttons > button {
  
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  text-align: left;
  background-color: white;
  border: 2px solid #e2e2e2;
  margin-right: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: black;
  line-height: 1.2;
  padding: 1rem 1rem;
  transition: all 500ms;
}

.but-cont {
  display: block;
  font-size: 1.2rem;
  text-align: left;
  margin: 1rem 0rem;
  visibility: hidden;
  transition: all 100ms;
}

.big-buttons > button:hover .but-cont {
  visibility: visible;
}
.big-buttons > button:hover {
  font-size: 1.3rem;
  background-color: #f9f9f9;
}

.vedio {
  display: inline-block;
  width: 100%;
  height: 750px;
  overflow: hidden;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.vedio > iframe {
}

.insights-cont > h3 {
  font-size: 2rem;
  margin-left: 12rem;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 2px red;
  margin: 10px 0 20px;
}

.insights-cont > h3 > span {
  background: #fff;
  padding: 0 1.5rem;
}

.img-cont {
  margin: 2rem 3rem;
  display: flex;
  justify-content: space-between;
}

.img-card {
margin: 0rem 1.2rem;
  vertical-align: top;
  width: 100%;
}

.img-card >a> h2 {
  font-family: "Graphik", Helvetica, sans-serif, Lucida Sans Unicode;
}

.img-link {
  text-decoration : none;
  color : black;
}

.action-cont {
  display: flex;
  width: 100%;
  margin-top: 10rem;
  margin-bottom: 0rem;
  overflow:hidden;
}

.action {
  background-color: #c00;
  width: 50%;
  height: 400px;
  margin-bottom: 0rem;
  padding-left : 2.5rem;
  padding-right : 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 600;
  color: white;
  font-family: "Graphik", Helvetica, sans-serif, Lucida Sans Unicode;
}

.act-but {
  background: #c00;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Graphik", Helvetica, sans-serif, Lucida Sans Unicode;
  font-size: 0.95rem;
  font-weight: 500;
  line-height: 1.2;
  padding: 1.25rem 2rem;
  border: 2px solid white;
  text-align: center;
  text-transform: uppercase;
  transition: all 200ms;
}
.act-but:hover {
  background-color: white;
  color: #c00;
}

.footer {
  background-color: black;
  width: 100%;

  margin-top: 0rem;
  display: inline-block;
}

.foo-1 {
  padding: 0rem 3rem;
  margin-top: 5rem;
}

.foo1-para {
  width: 100%;
  display: inline-block;
}

.foo1-para > p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.7;
  color: white;
  font-family: "Graphik", Helvetica, sans-serif, Lucida Sans Unicode;
}

.foo1-inp {
  width: 100%;
  display: inline-block;
  text-align: center;
  justify-content: space-evenly;
}

.foo1-inp > input {
  margin-bottom: 0;
  height: 1.5rem;
  width: 50%;
  text-align: left;
  padding: 1rem;
  font-size: 1.1rem;
  border: none;
  background: #424242;
  color: white;
  transition: all 200ms;
}

.foo1-inp > button,
.r-data > button {
  background: #c00;
  color: #fff;
  height: 3.6rem;
  cursor: pointer;
  margin-top: 1rem;
  display: inline-block;
  font-family: "Graphik", Helvetica, sans-serif, Lucida Sans Unicode;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2;
  padding: 1.25rem 2rem;
  text-align: center;
  text-transform: uppercase;
  transition: all 200ms;
  border: 1px solid #c00;
}

.foo1-inp > button:hover {
  background-color: white;
  color: #c00;
}

.r-data > button:hover {
  background-color: black;
  color: white;
}

.foo-img {
  margin-left: 3rem;
  margin-top: 3rem;
}

.foo-list {
  display: flex;
}

.foo-list > li {
  text-decoration: none;
  list-style-type: none;
  font-family: "Graphik", Helvetica, sans-serif, Lucida Sans Unicode;
  color: white;
  margin-left: 1.5rem;
  margin-bottom: 1.2rem;
  font-size: 1rem;
}

.copyright {
  color: rgb(161, 161, 161);
  margin-left: 3.5rem;
  font-weight: 300;
  font-family: "Graphik", Helvetica, sans-serif, Lucida Sans Unicode;
}

.last {
  margin-top: 7rem;
}

.read-cont {
  max-width: 85rem;
  height: 400px;
  margin: 4rem auto;
  padding: 0rem 1rem;
}

.read {
  max-width: 100%;
  height: 100%;
  margin: 0rem 4.2rem;
  border: 1px solid black;
  display: flex;
}

.r-b {
  display: inline-block;
  width: 50%;
  height: 100%;
  padding: 0rem 0rem;
}

.r-data {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 2.5% 10%;
}
.r-data > h2 {
  font-size: 2.2rem;
  font-weight: 400;
  font-family: "Graphik", Helvetica, sans-serif, Lucida Sans Unicode;
}
.r-data > p {
  font-size: 1rem;
  font-family: "Graphik", Helvetica, sans-serif, Lucida Sans Unicode;
}
.r-b > img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}


@media (max-width: 1000px) {
  .box-container{
  flex-direction : column;
  }
  .box1{
  width : 90%;
  }
  .box2{
  width : 90%;
  }


  .mar-l-3{
  margin-left:0rem;
  margin-right : 0rem;
  }

  .red-head{
    font-size: 1rem;
  }
  .act-but {
    font-size: 0.45rem;
  }
  .img-cont {
    flex-direction: column;
  }
  .img-card-left {
    margin-right: 0rem;
  }
  .img-card {
    margin-left: 0rem;
    margin-top: 2rem;
  }
  .foo-list {
    flex-direction: column;
  }
  .read {
    flex-direction: column;
    margin : 0rem 2rem;
  }

  .r-b {
    width: 100%;
  }
  .read-cont {
    height: 1000px;
  }
}

@media (max-width: 720px) {
  
  .big-buttons{
    flex-direction : column;
  }
  .big-buttons > button {
  width : 98%;
  }

  .action-cont {
  flex-direction : column;
  }

.action {
  width : 100%;
    
    padding-left : 1rem;
    padding-right : 1rem;
    height : 200px;
  }
  .box-container {
    margin : 1rem 0.95rem;
  }
}


@media (max-width: 535px) {
  
  .r-b > img{
  object-fit : cover;
  }

  .container-3{
    margin-left : 5%;
    width : 10rem;

  }
  .caption{
  font-size : 1.5rem;
  }
}


@media (min-width: 1000px) {

  .foo1-inp,
  .foo1-para {
    width: 48%;
  }

  .img-card {
    width: 47.2%;
  }
}


